<div id="tpe">
  
    <main>
        <ul>
            <li>加權指數下跌警示: {{Analysis?'正常':'警告'}}</li>
            <li>成交量: {{DealStatus[0]?'增加':'減少'}}</li>
            <li>
                近五日成交量：
                <p>
                    {{DealStatus[1]}}
                </p>
                <p>
                    {{DealStatus[2]}}
                </p>
                <p>
                    {{DealStatus[3]}}
                </p>
                <p>
                    {{DealStatus[4]}}
                </p>
                <p>
                    {{DealStatus[5]}}
                </p>
            </li>
        </ul>
    </main>
</div>
