<div class="stock">
    <main>
        <table>
            <tr>
                <td>股票編號</td>
                <td>MACD</td>
                <!-- <td>成交量 / MA黃金交叉</td> -->
                <td>Kd</td>
                <!-- <td>RSI</td> -->
                <!-- <td>乖離率</td> -->
            </tr>
            <tr>
                <td>{{stockId}}</td>
                <td><Macd :stock-value="stockValue"/></td>
                <!-- <td><Ma :stock-value="stockValue"/></td> -->
                <td><Kd :stock-value="stockValue"/></td>
                <!-- <td><Rsi :stock-value="stockValue"/></td> -->
            </tr>
        </table>
    </main>
</div>
