.stock{
        margin-bottom: 10px;
    main{
        margin: auto;
        table{
            width: 100%;
            tr{
                td{
                    padding: 10px;
                    border:1px solid #000;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .stock {
        main {
            width: 50%;
            margin: auto;
        }
    }
}
