#skill {
    padding-top: 20px;
    #filterResult {
        padding: 0 15px;
    }
    .area1 {
        margin: auto;
        width: 52%;
        padding: 10px 0;
        margin-bottom: 30px;
    }
}
