<div id="tpe">
    <main>
        <table>
            <tr>
                <td>加權指數下跌警示</td>
                <td>{{ Analysis ? '正常' : '警告' }}</td>
            </tr>
            <tr>
                <td>成交量</td>
                <td>{{ DealStatus[0] ? '增加' : '減少' }}</td>
            </tr>
            <tr>
                <td>近五日成交量</td>
                <td>
                    <p>{{ DealStatus[1] }}</p>
                    <p>{{ DealStatus[2] }}</p>
                    <p>{{ DealStatus[3] }}</p>
                    <p>{{ DealStatus[4] }}</p>
                    <p>{{ DealStatus[5] }}</p>
                </td>
            </tr>
        </table>
    </main>
</div>
