<div id="Nav">
    <el-header>
        <el-button @click="drawer = true" type="primary">
            <i class="el-icon-menu"></i>
        </el-button>
    </el-header>

    <el-drawer title="" :visible.sync="drawer" :with-header="true" size="350px">
        <ul>
            <router-link to="/">
                <li>選股</li>
            </router-link>
            <router-link to="/eps">
                <li>步驟選股</li>
            </router-link>
        </ul>
        <p id="databaseTime">資料庫最後時間：{{lastDate}}<UpdateButton /></p>
    </el-drawer>
</div>
